---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION, GITHUB_URL} from '../consts.ts';
import { getCollection } from 'astro:content';
const posts = (await getCollection('blog')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
const lastPosts = posts.slice(0, 4);
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <div class={'flex px-8 bg-gray-900 p-4 rounded-xl max-w-xl mx-auto'}>
        <div>
          <h1 class={'text-2xl md:text-5xl text-center my-5 font-semibold'}>✨ Fala ae, Dev! ✨</h1>
          <div class={'flex content-center space-x-4'}>
            <div class={'col'}>
              <p class={'mt-2'}>
                <img 
                src="/Untitled.jpg" 
                alt="Foto de Perfil" 
                class={' inline-block w-10 h-10 mr-1 md:my-2 md:mr-0 md:w-12 md:h-12 rounded-full border-2 border-gray-300 align-self'}
              />
                Bem-vindo ao meu blog! Aqui eu falo de programação, tecnologia e como está sendo minha jornada
                de aprendizado como desenvolvedor. Espero que você goste do que encontrar por aqui e que possa
                aprender algo novo comigo.

              </p>
              <ul>
                <p> Últimos posts: </p>
                {lastPosts.map((post) => (
          <li>
                  <a href={`/blog/${post.id}`}>
                    <p class="title">{post.data.title}</p> </a> </li>))}
                <ul>
                  <p>
                    Quer saber mais sobre minha jornada como desenvolvedor? Acesse a página <a href={`/about`}>Sobre</a> para conhecer mais!
                  </p>
                  <p>
                    Me siga no <a href={GITHUB_URL}>GitHub</a> para conferir meus projetos em andamento e contribuições para a comunidade.
                  </p>
            </div>
          </div>
        </div>

      </div>

    </main>
    <Footer />
  </body>
  <style>
  p {
    text-align: justify;
    text-justify: inter-word;
  }
  </style>
</html>


